h1{
    text-align: center;
    color:red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
}
h2{
    text-align: center;
    color:red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;

}
p{
    text-align: center;
    color:rgb(209, 201, 201);
    font-family: 'Courier New', Courier, monospace;
}

footer p {
    color: rgb(103,185,26);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}